<!-- <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
---- Include the above in your HEAD tag -------- -->

<div class="sidenav">
    <div class="login-main-text">
        <h2>Chat<br> Application</h2>
        <p>Enter your username to proceed.</p>
    </div>
</div>
<div class="main">
    <div class="col-md-6 col-sm-12">
        <div class="login-form">
            <form>
                <div class="form-group">
                    <label>User Name</label>
                    <input type="text" class="form-control" placeholder="User Name" [formControl]='username'>
                </div>

                <button type="submit" class="btn btn-black" (click)='submit()' [disabled]='!isValid'>Submit</button>

            </form>
        </div>
    </div>